<div class="container-fluid my-4">

  <div class="card bg-secondary">
    <div class="card-body">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar mantenimientos">
          </mat-form-field>
          <button mat-raised-button class="btn btn-outline-info" (click)="openColumnModal()">Configurar Columnas</button>
    </div>
  </div>

  <div class="table-responsive tabla-mantenimiento">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table align-middle">

      <!-- Columnas de la tabla -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 70px;">Status</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.status != 'Confirmado'" class="badge rounded-pill text-bg-warning" style="width: 70px; white-space: nowrap;  padding-left: 0px; padding-right: 0px;">Activa</span>
          <span *ngIf="element.status == 'Confirmado'" class="badge rounded-pill text-bg-success" style="width: 70px; white-space: nowrap;  padding-left: 0px; padding-right: 0px;">Confirmado</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="n_correlativo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px;">N°<br>Solicitud</th>
        <td mat-cell *matCellDef="let element" style="width: 50px; white-space: nowrap;">{{ element.n_correlativo }}</td>
      </ng-container>


      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-md-table-cell">Tipo</th>
        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell">
          {{ element.tipo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="identificacion_puerta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Identificación Puertas</th>
        <td mat-cell *matCellDef="let element" class="text-truncate truncate-responsive col-motivo">{{ element.identificacion_puerta }}</td>
      </ng-container>

      <ng-container matColumnDef="CREATED_AT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-lg-table-cell center-text">Fecha<br>Creacion</th>
        <td mat-cell *matCellDef="let element" class="d-none d-lg-table-cell">{{ element.CREATED_AT }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre_tecnico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-lg-table-cell">Técnico</th>
        <td mat-cell *matCellDef="let element" class="d-none d-lg-table-cell text-truncate" style="max-width: 100px;">{{ element.nombre_tecnico }}</td>
      </ng-container>

      <ng-container matColumnDef="ACCIONES">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">

            <button class="btn btn-sm btn-outline-success me-2" (click)="obtenerPdfConfirmacion(element.n_correlativo)">
              <i class="bi bi-filetype-pdf"></i>
            </button>
            <button *ngIf="element.status != 'Confirmado'" class="btn btn-sm btn-outline-info me-2" (click)="openModalV2(element)">
              <i class="bi bi-eye"></i>
            </button>
            <button *ngIf="element.status != 'Confirmado'" class="btn btn-sm btn-outline-danger me-2" (click)="confirmDelete(element._id)">
              <i class="bi bi-x"></i>
            </button>
            <button *ngIf="element.status != 'Confirmado'" class="btn btn-sm btn-outline-success" (click)="confirmaPreventiva(element._id)">
              <i class="bi bi-check-circle"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Header y filas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal para seleccionar columnas -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar Columnas</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeColumnModal()"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let column of allColumns" class="mb-2">
          <mat-slide-toggle [checked]="displayedColumns.includes(column.key)" (change)="toggleColumn(column.key)">
            <span class="custom-switch-label">{{ column.label }}</span>
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- modal -->

<div class="modal fade" id="detalleModalV2" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalleModalLabel">Detalle Mantencion Preventiva - N° {{detalle?.n_correlativo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container mt-4">
        <form [formGroup]="confirmationForm" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label for="nSolicitud">N° Solicitud</label>
            <input type="number" class="form-control" id="nSolicitud" formControlName="n_correlativo">
            <div *ngIf="confirmationForm.get('n_correlativo')?.invalid && confirmationForm.get('n_correlativo')?.touched" class="text-danger">
              Campo requerido
            </div>
          </div>
          <div class="form-group">
            <label for="centro_costo">Centro de Costo</label>
            <input type="text" id="centro_costo" formControlName="centro_costo" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="identificacion_puerta">Identificación Puerta</label>
            <input type="text" id="identificacion_puerta" formControlName="identificacion_puerta" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="cantidad_puertas">Cantidad de Puertas</label>
            <input type="number" id="cantidad_puertas" formControlName="cantidad_puertas" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="nombre_tecnico">Nombre Técnico Responsable</label>
            <input type="text" id="nombre_tecnico" formControlName="nombre_tecnico" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="n_correlativo">Número Correlativo</label>
            <input type="text" id="n_correlativo" formControlName="n_correlativo" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="nombre_convenio">Nombre Convenio</label>
            <input type="text" id="nombre_convenio" formControlName="nombre_convenio" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="complejo_asistencial">Complejo Asistencial</label>
            <input type="text" id="complejo_asistencial" formControlName="complejo_asistencial" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" formControlName="fecha" class="form-control" required />
          </div>
          <h3>Inspecciones</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Cumple</th>
                <th>No Cumple</th>
                <th>No Aplica</th>
                <th>Observación</th>
              </tr>
            </thead>
            <tbody formArrayName="inspecciones">
              <tr *ngFor="let inspeccion of inspecciones.controls; let i = index" [formGroupName]="i">
                <td><input type="text" class="form-control" formControlName="descripcion" readonly /></td>
                <td><input type="radio" formControlName="resultado" [value]="'cumple'" /></td>
                <td><input type="radio" formControlName="resultado" [value]="'no_cumple'" /></td>
                <td><input type="radio" formControlName="resultado" [value]="'no_aplica'" /></td>
                <td><input type="text" class="form-control" formControlName="observacion" /></td>
              </tr>
            </tbody>
          </table>
          <div class="form-group mt-4">
            <label for="observaciones">Observación General</label>
            <textarea id="observaciones" formControlName="observaciones" class="form-control"></textarea>
          </div>
          <div class="form-group mt-4">
            <label for="adjudicatario">Recepcionado por: </label>
            <input type="text" formControlName="recepcionado_por" #adjudicatario>
            <br>
            <label for="adjudicadoFirma">Firma Recepcionado por:</label>
              <signature-pad *ngIf="detalle?.firma_adjudicatario == ''" formControlName="firma_adjudicatario" id="firma_adjudicatario" #adjudicadoFirma></signature-pad>
              <img *ngIf="detalle?.firma_adjudicatario" [src]="detalle?.firma_adjudicatario" alt="Firma Adjudicatario">
          </div>
          <!-- <label for="solicitadoFirma">Firma Solicitado por</label>
          <signature-pad *ngIf="detalle?.FIRMA_SOLICITADO_POR == ''" formControlName="FIRMA_SOLICITADO_POR" #solicitadoFirma></signature-pad>
          <img *ngIf="detalle?.FIRMA_SOLICITADO_POR" [src]="detalle?.FIRMA_SOLICITADO_POR" alt="Firma Solicitado por"> -->
          <div class="form-group mt-4">
            <label for="firma_rt">Validado por: </label>
            <input type="text" formControlName="validado_por" #firma_rt>
            <br>
            <label for="rtFirma">Firma Validado por:</label>
              <signature-pad  *ngIf="detalle?.firma_rt == ''" formControlName="firma_rt" id="firma_rt" #rtFirma></signature-pad>
              <img *ngIf="detalle?.firma_rt" [src]="detalle?.firma_rt" alt="Firma RT">
          </div>
          <button type="submit" class="btn btn-success mb-3 mt-4">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

