<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="assets/images/logo.jpg" class="card-img" alt="Login Image">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title text-center">Iniciar Sesión</h5>
              <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <label for="usuario">Usuario</label>
                  <input type="text" class="form-control" id="usuario" formControlName="usuario">
                  <div *ngIf="formulario.get('usuario')?.invalid && formulario.get('usuario')?.touched" class="text-danger">
                    Campo requerido
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" id="password" formControlName="password">
                  <div *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched" class="text-danger">
                    Campo requerido
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
